.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100dvh;
    padding-block: 2rem;
    flex-grow: 1;
}

.content {
    max-width: 540px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: var(--secondary);
    border-radius: 24px;
    padding: 40px;
    position: relative;
}

.content h3 {
    font-size: 24px;
    font-family: 'Spectral', serif;
    color: var(--dark);
    text-align: center;
}

.content img {
    max-width: 250px !important;
    height: auto !important;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.form p {
    color: var(--light);
    line-height: 1.45;
    font-size: 14px;
}

.inputGroup {
    display: flex;
    align-items: center;
    width: 100%;
    outline: 1px solid var(--light);
    padding-left: 12px;
    border-radius: 12px;
}

.inputIcon {
    font-size: 20px;
    margin-right: 12px;
    color: #b0b0b0;
}

.inputGroup input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 12px 8px;
    padding-left: 0;
    color: var(--light);
    background-color: transparent;
}

.inputGroup input::placeholder {
    color: #d1d1d1;
}

.checkboxGroup {
    margin-top: 20px;
}

.checkboxGroup label {
    margin-left: 4px;
}

.cta {
    width: 100%;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.inputGroup:focus-within {
    outline: 2px solid var(--light);
}

.inputGroup:focus-within .inputIcon {
    color: var(--light);
}

@media (width < 720px) {
    .container {
        padding: 0;
    }

    .content {
        max-width: initial;
        padding: 24px;
        padding-top: 32px;
        flex-grow: 1;
    }

    .content h3 {
        font-weight: 600;
    }

    .content img {
        max-width: 90% !important;
    }

    .cta {
        margin-top: auto;
    }
}
